{% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Welcome to LRAS!</h1>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>

        <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>机场</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>重着陆</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>人机环</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>冲偏出跑道</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}