{% extends 'base.html' %}
    {% block content %}
        <div id="kline" style="width:100%;height:80%;"></div>
        <p id='dates' hidden='hidden'>{{ dates|safe }}</p>
        <p id='counts' hidden='hidden'>{{ counts|safe }}</p>
        <p id='datad' hidden='hidden'>{{ data_D|safe }}</p>
        <p id='dataw' hidden='hidden'>{{ data_W|safe }}</p>
        <p id='datam' hidden='hidden'>{{ data_M|safe }}</p>
        <p id='dataq' hidden='hidden'>{{ data_Q|safe }}</p>
        <p id='klineurl' hidden='hidden'>{% url 'hardlanding:kline' %}</p>

        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'js/hardlandingkline.js' %}"></script>
    {% endblock %}