{% extends 'base.html' %}
    {% block content %}
        <div id="map" style="width: 100%;height:800px;"></div>

        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
        <script type="text/javascript">
        var dom = document.getElementById("map");
        var myChart = echarts.init(dom);
        var app = {};
        var options_data = JSON.parse('{{ options|safe }}');
        option = null;
        option = {
            baseOption: {
                timeline: {
                    axisType: 'category',
                    autoPlay: true,
                    playInterval: 1000,
                    data: JSON.parse('{{ months }}'),
                    playInterval: 2000,
                    label: {
                        formatter : function(s) {
                            return '2016年'+s+'月';
                        }
                    }
                },
                backgroundColor: '#aaa',
                title: {
                    text: '{{ map_title }}',
                    left: 'center',
                    textStyle: {
                        color: '#fff'
                    }
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    top: 'bottom',
                    left: 'right',
                    data:['vrtg'],
                    textStyle: {
                        color: '#fff'
                    }
                },
                visualMap: {
                    min: 1,
                    max: 2,
                    calculable: true,
                    inRange: {
                        color: ['#00a3ba', '#eac736', '#f94e5d']
                    },
                    textStyle: {
                        color: '#fff'
                    }
                },
                geo: {
                    map: 'china',
                    roam: true,
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    itemStyle: {
                        normal: {
                            areaColor: '#323c48',
                            borderColor: '#111'
                        },
                        emphasis: {
                            areaColor: '#2a333d'
                        }
                    }
                },
                series: [
                    {
                        name: 'vrtg',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        symbolSize: function(value) {
                            return (value[2]-1) * 30;
                        },
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: false
                            }
                        },
                        itemStyle: {
                            emphasis: {
                                borderColor: '#fff',
                                borderWidth: 1
                            }
                        }
                    }
                ]
            },
            options: options_data,
            animation: false
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
        </script>
    {% endblock %}