{% extends 'base.html' %}
    {% block content %}
        <div id="map" style="width: 100%;height:800px;"></div>

        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
        <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
        <script type="text/javascript">
        var dom = document.getElementById("map");
        var myChart = echarts.init(dom);
        var app = {};
        var options_data = JSON.parse('{{ options|safe }}');
        option = null;
        option = {
            baseOption: {
                timeline: {
                    axisType: 'category',
                    autoPlay: true,
                    playInterval: 1000,
                    data: JSON.parse('{{ months }}'),
                    playInterval: 2000,
                    label: {
                        formatter : function(s) {
                            if(s==0){
                                return '2016年';
                            }else{
                                return '2016年'+s+'月';
                            }
                        }
                    }
                },
                backgroundColor: '#696969',
                title: [
                    {
                        text: '{{ mapTitle }}',
                        left: 'center',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    {
                        id: 'oneAirport',
                        right: '20%',
                        top: '43%',
                        textStyle: {
                            color: '#fff',
                            fontSize: 10
                        }
                    }
                ],
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    top: 'bottom',
                    left: 'right',
                    data:['vrtg'],
                    textStyle: {
                        color: '#fff'
                    }
                },
                visualMap: {
                    min: 1,
                    max: 2,
                    seriesIndex: [0, 2],
                    calculable: true,
                    inRange: {
                        color: ['#00a3ba', '#eac736', '#ff4e5d']
                    },
                    textStyle: {
                        color: '#fff'
                    }
                },
                geo: {
                    map: 'china',
                    left: '10',
                    right: '35%',
                    center: [110, 35],
                    zoom: 0.8,
                    roam: true,
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    itemStyle: {
                        normal: {
                            areaColor: '#323c48',
                            borderColor: '#111'
                        },
                        emphasis: {
                            areaColor: '#2a333d'
                        }
                    }
                },
                grid: [
                    {right: "20%", top: "5%", height: '30%', width: '20%'},
                    {right: "20%", top: "50%", height: '30%', width: '20%'}
                ],
                xAxis: [
                    {
                        gridIndex: 0,
                        type: 'value',
                        scale: true,
                        position: 'top',
                        min: 1.2,
                        max: 1.8,
                        boundaryGap: false,
                        splitLine: {show: false},
                        axisLine: {show: false},
                        axisTick: {show: false},
                        axisLabel: {margin: 2, textStyle: {color: '#fff'}}
                    },
                    {
                        gridIndex: 1,
                        type: 'value',
                        id: 'littleScatterX',
                        min: 0,
                        max: 5,
                        nameTextStyle: {color: '#fff'}, 
                        splitLine: {show: false},
                        axisLine: {show: false},
                        axisTick: {show: false},
                        axisLabel: {show:false, margin: 20, textStyle: {color: '#fff'}}
                    }
                ],
                yAxis: [
                    {
                        gridIndex: 0,
                        type: 'category',
                        name: 'TOP 10',
                        nameGap: 16,
                        inverse: true,
                        axisLine: {show: true, lineStyle: {color: '#fff'}},
                        axisTick: {show: true, alignWithLabel:true, lineStyle: {color: '#fff'}},
                        axisLabel: {interval: 0, textStyle: {color: '#fff'}},
                        data: []
                    },
                    {
                        gridIndex: 1,
                        type: 'value',
                        id: 'littleScatterY',
                        min: 0,
                        max: 0.5,
                        nameTextStyle: {color: '#fff'}, 
                        splitLine: {show: false},
                        axisLine: {show: false},
                        axisTick: {show: false},
                        axisLabel: {show: false, margin: 20, textStyle: {color: '#fff'}}
                    }
                ],
                series: [
                    {
                        name: 'vrtg',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        symbolSize: function(value) {
                            return (value[2]-1) * 30;
                        },
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: false
                            }
                        },
                        itemStyle: {
                            emphasis: {
                                borderColor: '#fff',
                                borderWidth: 1
                            }
                        },
                        data: []
                    },
                    {
                        name: 'bar',
                        zlevel: 1,
                        type: 'bar',
                        xAxisIndex: 0,
                        yAxisIndex: 0,
                        symbol: 'none',
                        itemStyle: {
                            normal: {
                                color: '#ddb926'
                            }
                        },
                        data: []
                    },
                    {
                        name: 'oneAirport',
                        type: 'scatter',
                        xAxisIndex: 1,
                        yAxisIndex: 1,
                        symbolSize: function(value) {
                            return (value[2]-1) * 30;
                        },
                        data: [],
                    }
                ]
            },
            options: options_data,
            animation: false
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }

        myChart.on('click', function (params) {
            var requestJson = {"month": params.seriesName, "city": params.name}
            $.getJSON("{% url 'hardlanding:map' %}", requestJson, function (res) {
                myChart.setOption({
                    title: {
                        id: 'oneAirport',
                        text: res.title
                    },
                    xAxis:[{
                        id: 'littleScatterX',
                        name: "环境熵",
                        axisLabel: {show: true}
                    }],
                    yAxis:[{
                        id: 'littleScatterY',
                        name: "逆转率",
                        axisLabel: {show: true}
                    }],
                    series: [{
                        name: 'oneAirport',
                        data: res.data
                    }]
                });
            });
        });

        </script>
    {% endblock %}