{% extends 'base.html' %}
{% block content %}
    <div class="col-md-3 col-md-offset">
        <div class="col-md-10">
            <div class="row">
                <h1>Capt</h1>
                <div id="stick_capt" style="width: 100%;height:250px;"></div>
            </div>
            <div class="row">
                <h1>FO</h1>
                <div id="stick_fo" style="width: 100%;height:250px;"></div>
            </div>
        </div>
        <div class="col-md-2">
            <p>
                <label for="time">时间：</label>
                <input type="text" id="time" style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            <div id="slider-vertical" style="height:600px;"></div>
        </div>
    </div>
    

    <div class="col-md-9">
        <div class="row">
            <select id="select_file">
                {% for f in files %}
                    <option value="{{ f }}">{{ f }}</option>
                {% endfor %}
            </select>
            <button type="button" class="btn btn-primary" style="width: 100px" id="show">查看</button>
        </div>

        <div class="row">
            {% for i_time in row1 %}
                <div class="col-md-2">
                    <p align="center">时间片{{ i_time }}</p>
                    <div id="drv_{{ i_time }}" style="width: 100%;height:150px;"></div>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="row">
            {% for i_time in row2 %}
                <div class="col-md-2">
                    <p align="center">时间片{{ i_time }}</p>
                    <div id="drv_{{ i_time }}" style="width: 100%;height:150px;"></div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div id="attention" style="width: 100%;height:350px;"></div>
        </div>
    </div>

        
    <p id='alldata' hidden='hidden'>{{ alldata|safe }}</p>
    <p id='thisurl' hidden='hidden'>{% url 'driving:index' %}</p>
    {% load staticfiles %}
    <link href="{% static 'css/jquery.minicolors.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/jquery.minicolors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/driving.js' %}"></script>
{% endblock %}